body {
  font-family: "DM Sans", sans-serif;
  background-color: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Flex-Column-Center */

.d-flex-cen-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-flex-cen-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --p-100-color: hsl(254, 88%, 90%);
  --p-500-color: hsl(256, 67%, 59%);
  --y-100-color: hsl(31, 66%, 93%);
  --y-500-color: hsl(39, 100%, 71%);
  --line-h: 0.9;
}

main {
  margin: 80px auto;
  display: grid;
  gap: 26px;
}

@media (max-width: 991px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px;
  }
}

/* Order Of Gird Items */

@media (max-width: 700px) {
  main {
    grid-template-columns: minmax(300px, 1fr);
  }
  .ai {
    order: 8;
  }

  .c-post {
    order: 7;
  }

  .grow {
    order: 6;
  }

  .followers {
    order: 5;
  }

  .sc {
    order: 4;
  }
}

/* Grid Layout */

@media (min-width: 992px) {
  main {
    width: 925px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .c-post {
    grid-row: 1 / span 2;
  }

  .s-media {
    grid-column: 2 / span 2;
  }

  .sc {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
  }

  .manage {
    grid-row: 2 / span 2;
  }

  .maintain {
    grid-row: 2 / span 2;
  }

  .ai {
    grid-row: 3 / span 2;
  }

  .grow {
    grid-row: 4 / 5;
  }

  .followers {
    grid-row: 4 / 5;
    grid-column: 3 / span 2;
  }
}

main div {
  border-radius: 7px;
}

/* c-post */

.c-post {
  background-color: var(--y-100-color);
  padding: 20px;
}

.c-post p {
  font-weight: 500;
  letter-spacing: -2.5px;
  line-height: var(--line-h);
  font-size: 34px;
  margin: 0 0 15px;
}

@media (max-width: 991px) {
  .c-post p {
    margin: 0 0 25px;
    font-size: 33px;
  }
}

.c-post span {
  color: var(--p-500-color);
  font-style: italic;
}

.c-post img {
  width: 150px;
}

@media (max-width: 991px) {
  .c-post img {
    width: 175px;
  }
}

/* s-media */

.s-media {
  background-color: var(--p-500-color);
  padding: 50px 20px;
}

.s-media > p {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: var(--line-h);
}

@media (max-width: 991px) {
  .s-media > p {
    font-size: 47px;
  }
}

.s-media .rate {
  margin-top: 15px;
  text-align: center;
}

.s-media .rate img {
  width: 150px;
}

@media (max-width: 991px) {
  .s-media .rate img {
    width: 180px;
  }
}

.s-media .rate p {
  color: rgb(255 255 255 / 80%);
  font-size: 14px;
}

@media (max-width: 991px) {
  .s-media .rate p {
    font-size: 18px;
  }
}

.s-media .x {
  color: var(--y-500-color);
}

.s-media .faster {
  font-style: italic;
}

/* sc */

.sc {
  background-color: var(--p-100-color);
  padding-left: 25px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .sc {
    padding: 20px;
  }
}

.sc p:first-of-type {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: var(--line-h);
}

@media (max-width: 991px) {
  .sc p:first-of-type {
    font-size: 30px;
  }
}

.sc img {
  width: 300px;
  margin: 20px 0;
}

.sc p:last-of-type {
  line-height: 1.2;
  font-weight: 500;
}

@media (min-width: 992px) {
  .sc p:last-of-type {
    font-size: 14px;
  }
}

/* manage */

.manage {
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.manage img:first-of-type {
  width: 230px;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .manage img:first-of-type {
    width: 300px;
  }
}

.manage p {
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 0.8;
  font-size: 28px;
}

.manage img:last-of-type {
  display: none;
}

@media (max-width: 991px) {
  .manage img:last-of-type {
    display: block;
    max-width: 100%;
    border-radius: 12px;
    margin-top: 25px;
  }
}

/* maintain */

.maintain {
  background-color: var(--y-500-color);
  padding: 20px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 834px) {
  .maintain {
    text-align: center;
  }
}

@media (min-width: 835px) and (max-width: 991px) {
  .maintain {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.maintain p {
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 0.8;
  font-size: 28px;
}

@media (max-width: 992px) {
  .maintain p {
    font-size: 31px;
  }
}

@media (max-width: 834px) {
  .maintain p {
    transform: translateY(10px);
  }
}

@media (max-width: 991px) {
  .maintain img {
    width: 200px;
    transform: translate(0, 36px);
  }
}

@media (max-width: 834px) {
  .maintain img {
    width: 230px;
    transform: translate(0, 60px);
  }
}

@media (min-width: 992px) {
  .maintain img {
    width: 170px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15px);
  }
}

/* ai */

.ai {
  background-color: var(--y-500-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 835px) and (max-width: 991px) {
  .ai {
    flex-direction: row-reverse;
    align-items: center;
    gap: 25px;
  }
}

.ai p {
  font-weight: 500;
  letter-spacing: -2px;
  line-height: var(--line-h);
  font-size: 34px;
}

@media (min-width: 992px) {
  .ai img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .ai img {
    width: 165px;
    margin: 15px 0 0;
  }
}

/* grow */

.grow {
  background-color: white;
  padding: 15px 20px;
}

@media (max-width: 991px) {
  .grow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.grow span {
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
}

.grow p {
  font-size: 15px;
  margin: 3px 0 20px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .grow p {
    font-size: 18px;
  }
}

.grow img {
  width: 135px;
}

@media (max-width: 991px) {
  .grow img {
    width: 180px;
  }
}

/* followers */

.followers {
  background-color: var(--p-500-color);
  padding: 20px;
}

@media (max-width: 834px) {
  .followers {
    text-align: center;
  }
}

@media (min-width: 835px) {
  .followers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.followers img {
  width: 180px;
}

.followers p {
  color: white;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: var(--line-h);
}

@media (max-width: 834px) {
  .followers p {
    margin-top: 25px;
  }
}
